*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.top-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	background: #333;
}

@-webkit-keyframes movearound {
	0% {
		fill:#f1f1f1;
	}
	20% {
		fill:#f1f1f1;
	}
	25% {
		fill:#eed518;
	}
	50% {
		fill:#f1f1f1;
	}
	70% {
		fill:#eed518;
	}
	75% {
		fill:#eed518;
	}
	100% {
		fill:#f1f1f1;
	}
}



	.logo-fill{
		-webkit-animation: movearound 18s ease infinite normal;
	}



@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 5em 2em 5em 2em;  
} 

@media (max-width: 600px) {
  article  {
    max-width: 98% !important;

  }

  p {
  	    line-height: 26px !important;
    font-size: 21px !important;
    text-align: left !important;
  }

  article h3 {
  	opacity: 1 !important;
  	background: #000 !important;
    padding: 5px !important;
  }

	article h3 {
  	opacity: 1 !important;
  	background: #000 !important;
    padding: 5px !important;
  }

  .source-link {
  	bottom: 0 !important;
  	left: 0;
  	right: 0 !important;
  	width: 100% !important;
  	text-align: center !important;
  }

  .ip-main {
  	padding: 300px 0 10em 0 !important;
  }
}

@media print {


 * {
 	color: #333;
 }

 article {
 	max-width: 85% !important;
	margin: 0 auto 60px;
 }

 p {
 	font-size: 18px !important;
 	color: #333;
 	line-height: 22px !important;
 }

 .read-o-meter, .source-link {
 	display: none;
 }


}

.logo-fill {
	fill: #f1f1f1;
	opacity: 0.8;
}

.uni-logo {
	position: fixed;
	left: 10px;
	top: 10px;
}

.source-link {
    -webkit-transition: all 0.38s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all 0.38s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 0.38s cubic-bezier(0.7, 0, 0.3, 1);
    font-size: 16px;
    margin: 0 !important;
    font-weight: 600;
    font-size: 13px;
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 100px;
    color: #999 !important;
    opacity: 1;
    line-height: 15px;
    text-align: right;
    background: #333;
    padding: 15px 5px 15px 5px;
    border: 1px solid #333;
}

.source-link:hover {
    opacity: 1;
    color: #fff !important;
    border: 1px solid #f1f1f1;
}

body {
	background: #333;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Alegreya Sans';
}

a {
	color: #f0f0f0;
	text-decoration: none;
	outline: none;
}

.demo-2 { background: #333; }
.demo-2 a { color: #1c9ccd; }

a:hover, a:focus {
	color: #fff;
}

section {
	padding: 1em;
	text-align: center;
}

article h4 {
    text-align: center;
    font-weight: 100;
    font-size: 32px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin: 0;
}

article ul {
	font-family: 'Alegreya Sans';
	line-height: 30px;
	font-size: 23px;
	padding: 10px 22px;
    margin-bottom: 0;
}

article a {
	color: #f1f1f1 !important;
	text-decoration: underline;
    -webkit-transition: all 0.38s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all 0.38s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 0.38s cubic-bezier(0.7, 0, 0.3, 1);
}

article a:hover {
	color: #1c9ccd !important;
}

article li {
	margin: 10px 0;
} 

article small {
	font-size: 23px;
	font-weight: 400;
}
